@import url("https://fonts.googleapis.com/css2?family=Jaro:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 10s linear infinite;
}

@font-face {
  font-family: 'JerseyM54';
  src: url('/src/assets/fonts/JerseyM54.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
